
	nav {
		background: linear-gradient(silver,#e0e0e0,#efefef,#000); width: 80%; margin-right: auto;
		margin-left: auto; border: 1px solid; border-radius: 5px; margin-bottom: 20px;
		}
		
	#cab {
		background-image: url("../img/h2.jpg"); background-size: 100% 100%; margin-right: auto; margin-left: auto; width: 1150px; height: 300px;
		}
	#texth{
		color:red; font-size: 100px; display: block;
		}
	.tablaimg tr, .tablaimg td{
		text-align: center;
		border: 3px solid silver;
		background-color: black;
		}	
	.d{
		list-style: none; display: inline; margin: 10px; margin-right: 10px;		
		}
	.txt{
		color:white; font-size: 30px; display: block; text-align: center;
		}
	.k{
		list-style: none; display: inline; font-size: 20px; margin: 30px; margin-right: 20px;	
		}
	#mif{
		text-align: right;
	}
   #cont{
   		text-align: center;  width: 1100px; margin: 0 auto 0 auto; 
     	}
   #enca{ 
   		height: 32px; margin-bottom: 40px; width: 693px;
   	}
   #contenido{ 
   		width: 500px; float: right; margin-bottom: 70px;
   	}
   #contenido h2{ 
   		font-size: 18px; color: #464545; font-weight: normal 
   	}
   #contenido h2 span{  
   		color: yellow;
   	} 
   	#contenido p{
   		font-size: 20px;
   	}	   
   	#contenido2 p{
   		font-size: 13px;
   	} 
   #menu{ 
   		width: 180px; float: left; text-transform: uppercase
   	}	
   #fotos {
   		width: 370px;
   	}
   #fotos div{ 
   		width: 100px; height: 69px; float: left; margin: 10px 9px 15px 9px; background: silver;  
   	}
   	#pie{ 
   		clear: both;  height: 296px;
   	}
   #pie h2{ 
   		font-size: 18px; color: #464545; font-weight: normal 
   	}
   #pie h2 span{  
   		color: #a7a7a7;   
   	}
   #pie p{ 
   		text-align: right; font-size: 13px; padding-top: 10px; clear: both;
   	}
   	label {
	  display: block;
	  margin: .5em 0 0 0;
	}
	#Form{
		margin-right: 130px;
	}
	.tab tr, .tab td{
		text-align: center;
		border: 5px solid silver;
		vertical-align: 120px;
		background-color: white;
	}	