
		
		nav {
	background: linear-gradient(silver,#e0e0e0,#efefef,#000);
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid;
	border-radius: 5px;
	margin-bottom: 20px;
		}
		
		#cab {
			background-image: url("../img/dados.jpg");
			background-size: 100% 100%;
				margin-right: auto;
				margin-left: auto;
			width: 1200px;
			height: 200px;
		}
		#texth{
			color:red;
			font-size: 100px;
			display: block;
		}
		.tablaimg tr, .tablaimg td{
				text-align: center;
				
	
	
				
				border: 3px solid silver;
				background-color: pink;


		}
		
		.d{
			list-style: none;
			display: inline;
			margin: 10px;
			margin-right: 10px;		
		}
		.txt{
			color:white;
			font-size: 30px;
			display: block;
			text-align: center;
		}
		.k{
			list-style: none;
			display: inline;
			font-size: 20px;
			margin: 30px;
			margin-right: 20px;	
		}
	